.ProfileCard {
  /* border: .1em black solid; */
  /* align-content: flex-start; */
  width: 55%;
  /* padding-bottom: 20%; */
  /* margin-bottom: 50px; */
  margin-left: 15%;
  /* margin-top: 50px; */
  height: 80%;
}

#profilepic {
  max-width: 280px;
  /* max-width: 100%; */
  height: 180px;
  border-radius: 0%;
  /* padding-left: 50px; */
  margin-right: 25%;
  object-fit: cover;
  display: flex;
}

.align-to-bottom {
  position: absolute;
  bottom: 3%;
  left: 20%;
  right: 20%;
}

h2 {
  text-align: center;
}

p {
  text-align: center;
}
