.page-background {
  background-color: rgb(36, 34, 34);
  height: 100%;
  min-height: 92vh;
}

.title-text {
  color: white;
  text-align: center;
  font-size: calc(8px + 4vmin);
}

.searchbar {
  position: absolute;
  top: 10%;
  left: 50%;
  font-size: calc(8px + 2vmin);
  flex-direction: column;
  align-items: center;
}

.searchbar button {
  float: right;
  background: #999ba1;
  border: none;
  cursor: cell;
}

.searchbar button:hover {
  background: #ccc;
  cursor: cell;
}

.header-text {
  font-size: calc(8px + 4vmin);
  font-weight: bold;
}

.home-container {
  display: inline-block;
}

.chat-room-container {
  position: fixed;
  left: 25%;
  right: 0;
  top: 10%;
  bottom: 0;
  display: flex;
  flex-direction: column;
  margin: 16px;
}

.partner-name {
  margin-top: 0;
}

.online-list-container {
  width: 25vw;
  max-width: 25vw;
  min-height: 92vh;
  flex: 1;
  padding: 20;
  background-color: #2c303b;
  color: white;
}

.messages-container {
  flex: 1;
  min-height: 100px;
  overflow: auto;
  border: 1px solid black;
  border-radius: 4px 4px 0 0;
  display: flex;
  flex-direction: column-reverse;
}

.messages-list {
  list-style-type: none;
  padding: 0;
}

.new-message-input-field {
  height: 70px;
  max-height: 30%;
  font-size: 20px;
  padding: 8px 12px;
  resize: none;
}

.message-item {
  width: 55%;
  margin: 8px;
  padding: 12px 8px;
  word-break: break-word;
  border-radius: 3px;
  color: white;
}

.my-message {
  background-color: #2c303b;
  margin-left: auto;
}

.received-message {
  background-color: #3f4042;
  margin-right: auto;
}

.send-message-button {
  font-size: 20px;
  font-weight: 600;
  color: white;
  background: #2c303b;
  padding: 24px 12px;
  border: none;
}

.send-message-button:hover {
  background: #9a9a9a;
  color: black;
}

.messages-container,
.new-message-input-field,
.send-message-button {
  border-color: #9a9a9a;
}
